

.start{
  background-color: white;
  height: 90vh;
  text-align: center;
}
.headname{
  text-align: center;
  font-size: 150px;
  font-family: 'Labrada', serif;
  z-index: 100;
  position: relative;
}
.portfolio{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 150px;
  z-index: 100;
  position: relative;
  top: -41px;
}
.head-img{
  width:18%;
  margin-top: -40px;
  transform: rotate(-10deg);
}
#right{
      width: 300px;
      display: block;
      position: relative;
      left: 1164px;
      bottom: 90px;
}
#left{
    width: 390px;
    display: block;
    padding: 24px;

}
#center{
  width: 200px;
    display: block;
    position: absolute;
    left: 109px;
    bottom: 250px;


}
#base{
  width: 55%;
    height: 638px;
    position: relative;
    bottom: 417px;
    left: -15px;


}
.box{

    width: 100%;
    height: 686px;
    position: absolute;
    top: 0px;
    left: 0px;

}

.des{
  position: absolute;
    top: 124px;
    left: 680px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
    margin: 400px auto 0px auto;
}
.skill{
  position: absolute;
    top: 1300px;

    padding-bottom:100px;
    width: 100%;
    left: 0px;
}
.skill-row{
    width: 70%;
    margin:0px 0px 0px 180px;
    line-height: 2;

    font-family: 'Dosis', sans-serif;
}
.skill-pic{
  width:150%;
  margin-left: -36px;
  position:relative;
  bottom:65px;

}
.skill-list{
  float: left;

  margin: 80px 0px 0px 415px;
}
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
.diagram1{
  width:25%;
  float:left;
  padding:20px;
}
.diagram2{
  width:25%;
  float:right;
  padding:1px;
}
.heading{

  font-family: 'Roboto', sans-serif;

  font-size: 65px;
  margin: 0px 0px 3px 215px;
}
.heading1{
   z-index:100;
   position:relative;
  font-size: 65px;
  margin: 45px 0px 3px 215px;
  font-family: 'Roboto', sans-serif;


}
.heading2{
  font-family: 'Roboto', sans-serif;
  font-size: 55px;

  text-align: center;


}
.my_self{
  position: absolute;
    top: 694px;

    padding: 7px;
    width: 99%;
    padding-bottom:50px;
}

.me1{
  width:20%;
  margin:-140px 340px 0px 70px;
  float: right;
}
.me2{
  width:18%;
  margin: 146px -290px 0px 0px;
  float: right;
  transform: rotate(-10deg);
}
.about-row{
    width: 42%;
    margin: 180px 540px 70px auto;
    text-align: left;
    line-height: 2;
    font-family: 'Dosis', sans-serif;
}
a:link{
  text-decoration: none;
}

.Contact-me{
  position: absolute;
    top: 1897px;

    padding: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    padding-bottom: 60px;

}
button{

    width: 152px;
    height: 36px;
    color: black;
    border-radius: 7px;
    border: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: 20;
}
.contact_des{
  padding:20px;
}

.i1{
  width:55%;
  position:relative;
  position:relative;
  left:140px;
}
.i2{
  width:45%;
  margin: 0px 75px 0px 75px;
  position: relative;
  top: 60px;
}
.i3{
  width:55%;
  position:relative;
  right:140px;
}

.in-des1{
  position: relative;
  top: -11px;
  font-family: 'Zeyada', cursive;
  font-size: 35px;
  left:140px;
}
.in-des2{
  position: relative;
  top: 51px;
  font-family: 'Zeyada', cursive;
  font-size: 35px;
}
.in-des3{
  position: relative;
  top: -7px;
  font-family: 'Zeyada', cursive;
  font-size: 35px;
  right:140px;
}
.in-elab1{
  position: relative;
  top: -42px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  left:140px;
}
.in-elab2{
  position: relative;
  top: 24px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}
.in-elab3{
  position: relative;
  top: -34px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  right:140px;
}






.last{
    width: 100%;

    position: absolute;
    top: 2415px;
    text-align: center;
    padding: 50px 0px 31px 0px;
    left: 0px;

}
.final1{
  font-family: 'Roboto', sans-serif;
  font-size: 85px;
  font-weight: bolder;
  text-align: center;
}
.final2{
  font-family: 'Playfair Display', serif;
  font-size: 85px;
  font-weight: bolder;
  text-align: center;
}
.final3{
  font-family: 'Roboto', sans-serif;
  font-size: 91px;
    font-weight: bolder;
    margin-right: 9px;
}
.final-pc1{
  float:right;
  width: 12%;
  margin-top: -130px;
  margin-right: 367px
}
.final-pc2{
  float:left;
  width: 11%;
  position: relative;
  left: 433px
}
.linkto1{

  display:inline-block;
  font-family: 'Dosis', sans-serif;
  color:#1f8383;

  margin:20px;
}
.linkto2{

  display:inline-block;
  font-family: 'Dosis', sans-serif;
  color:#1f8383;

  margin:20px;
}
.linkto3{

  display:inline-block;
  font-family: 'Dosis', sans-serif;
  color:#1f8383;

  margin:20px;
}
.last_line{
    font-family: 'Dosis', sans-serif;
    color: black;
    padding-top: 22px;
    padding-bottom: 22px;
}
